.about_card {
   
    justify-content: center;
    margin: auto;
    width: 40rem;
    height: 15rem;

}
.about_card-body{
    justify-content: center;
    text-align: center;
}

.about_card-title{

}

.about_section{}

.about_section {
    background-color: dimgray;
}
.about_card-title {
    text-align: center;
}
.about_card-body p {
    line-height: 1.75;
    text-align: center;
    margin: 27px 1px;
    letter-spacing: revert;
}

.btn_about{
    background: black;
    color: #fff;
   
}